# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Django
*.log
local_settings.py
db.sqlite3
media/

# Environment
.env
.env.local

# VS Code
.vscode/

# Mac
.DS_Storenode_modules/
.DS_Store
**/.DS_Store
.DS_Store
**/.DS_Store
test_export.csv
seed_sales.py
